{% extends 'common_code/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class='text-center'>Latest Vehicle Update</h1>
    <div class="col-md-6 offset-md-3">
        <hr>
        <div class="card mb-3">
            <img src="{% static 'images/blog/img1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Volvo XC60</h5>
              <p class="card-text">
                <div class="card" style="width: 38rem;">
                    <div class="card-header">
                        Volvo XC60
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Features: Volvo's latest Android infotainment system and a panoramic sunroof are among the features available. Furthermore, the SUV boasts a heads-up display,  360-degree camera, and wireless phone charging. </li>
                      <li class="list-group-item">Latest Update: Volvo has hiked the XC60’s price by Rs 60,000. </li>
                      <li class="list-group-item"> Price: Volvo now retails the SUV at Rs 66.50 lakh (ex-showroom, pan-India).</li>
                      <li class="list-group-item">Variant: It is available in only one trim, the B5 Ultimate.</li>
                      <li class="list-group-item">Seating Capacity: It’s a five-seater SUV.</li>
                      <li class="list-group-item">Engine and Transmission: It houses a 2-litre, turbo-petrol, mild-hybrid engine delivering 250PS and 350Nm. The unit is linked to a 48-volt electric motor.</li>
                      <li class="list-group-item">Safety: The safety package includes adaptive cruise control, lane keep assist, collision warning and mitigation support, hill start assist, and multiple airbags.</li>
                      <li class="list-group-item">Rivals: The XC60 goes up against the Mercedes-Benz GLC, BMW X3, Lexus NX, and Audi Q5.</li>
                    </ul>
                  </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          
    </div>
    <div class="col-md-6 offset-md-3">
        <hr>
        <div class="card mb-3">
            <img src="{% static 'images/blog/img2.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tata Punch</h5>
              <p class="card-text">
                <div class="card" style="width: 38rem;">
                    <div class="card-header">
                        Tata Punch
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Features: Volvo's latest Android infotainment system and a panoramic sunroof are among the features available. Furthermore, the SUV boasts a heads-up display,  360-degree camera, and wireless phone charging. </li>
                      <li class="list-group-item">Latest Update: Volvo has hiked the XC60’s price by Rs 60,000. </li>
                      <li class="list-group-item"> Price: Volvo now retails the SUV at Rs 66.50 lakh (ex-showroom, pan-India).</li>
                      <li class="list-group-item">Variant: It is available in only one trim, the B5 Ultimate.</li>
                      <li class="list-group-item">Seating Capacity: It’s a five-seater SUV.</li>
                      <li class="list-group-item">Engine and Transmission: It houses a 2-litre, turbo-petrol, mild-hybrid engine delivering 250PS and 350Nm. The unit is linked to a 48-volt electric motor.</li>
                      <li class="list-group-item">Safety: The safety package includes adaptive cruise control, lane keep assist, collision warning and mitigation support, hill start assist, and multiple airbags.</li>
                      <li class="list-group-item">Rivals: The XC60 goes up against the Mercedes-Benz GLC, BMW X3, Lexus NX, and Audi Q5.</li>
                    </ul>
                  </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          
    </div>
    <div class="col-md-6 offset-md-3">
        <hr>
        <div class="card mb-3">
            <img src="{% static 'images/blog/img3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mercedes-Benz E-Class</h5>
              <p class="card-text">
                <div class="card" style="width: 38rem;">
                    <div class="card-header">
                        Mercedes-Benz E-Class
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Features: Volvo's latest Android infotainment system and a panoramic sunroof are among the features available. Furthermore, the SUV boasts a heads-up display,  360-degree camera, and wireless phone charging. </li>
                      <li class="list-group-item">Latest Update: Volvo has hiked the XC60’s price by Rs 60,000. </li>
                      <li class="list-group-item"> Price: Volvo now retails the SUV at Rs 66.50 lakh (ex-showroom, pan-India).</li>
                      <li class="list-group-item">Variant: It is available in only one trim, the B5 Ultimate.</li>
                      <li class="list-group-item">Seating Capacity: It’s a five-seater SUV.</li>
                      <li class="list-group-item">Engine and Transmission: It houses a 2-litre, turbo-petrol, mild-hybrid engine delivering 250PS and 350Nm. The unit is linked to a 48-volt electric motor.</li>
                      <li class="list-group-item">Safety: The safety package includes adaptive cruise control, lane keep assist, collision warning and mitigation support, hill start assist, and multiple airbags.</li>
                      <li class="list-group-item">Rivals: The XC60 goes up against the Mercedes-Benz GLC, BMW X3, Lexus NX, and Audi Q5.</li>
                    </ul>
                  </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          
    </div>
    
</div> 



{% endblock content %}